<%- include('../partials/header') %>

  <h1>Skills as of <%=date%></h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Item</th>
        <th>Studied?</th>
      </tr>
    </thead>
    <tbody>
      <% skills.forEach(function(s) { %>
        <tr>
          <td class="item"><a href="/skills/<%= s.id %>">
              <%= s.skill %>
            </a></td>
          <td><%= s.learned ? 'Yes' : 'No' %></td>
          <td>
            <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">X</button>
            </form>
          </td>
          <td>
            <form action="/skills/<%= s.id %>/edit" method="GET">
            <button type="submit" class="btn btn-danger">Edit</button>
            </form>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  <%- include('../partials/footer') %>

